<section class="section">
  <h2 class="visually-hidden">Contacts</h2>

  <div class="container">
    <ul class="review-list">
      <li class="review-list__item" data-slide>
        <picture class="review-list__pic">
          <source
            srcset="./images/testimonials-icon-1@2x.jpg 2x, ./images/testimonials-icon-1@3x.jpg 3x"
          />
          <img class="review-list__img" src="./images/testimonials-icon-1.jpg" alt="customer-1" />
        </picture>
        <div class="review-list__text-wrap">
          <div class="review-list__text-wrap--underline">
            <p class="review-list__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="review-list__subtext">Emily, Los Angeles</p>
      </li>

      <li class="review-list__item" data-slide>
        <picture class="review-list__pic">
          <source
            srcset="./images/testimonials-icon-2@2x.jpg 2x, ./images/testimonials-icon-2@3x.jpg 3x"
          />
          <img class="review-list__img" src="./images/testimonials-icon-2.jpg" alt="customer-2" />
        </picture>
        <div class="review-list__text-wrap">
          <div class="review-list__text-wrap--underline">
            <p class="review-list__text">
              Nullam viverra consectetuer. Aliquam sem. In hendrerit nulla quam nunc, accumsan
              congue. Lorem ipsum primis in nibh vel risus. Quisque cursus et, porttitor risus.
            </p>
          </div>
        </div>
        <p class="review-list__subtext">Lucy, Chicago</p>
      </li>

      <li class="review-list__item" data-slide>
        <picture class="review-list__pic">
          <source
            srcset="./images/testimonials-icon-3@2x.jpg 2x, ./images/testimonials-icon-3@3x.jpg 3x"
          />
          <img class="review-list__img" src="./images/testimonials-icon-3.jpg" alt="customer-3" />
        </picture>
        <div class="review-list__text-wrap">
          <div class="review-list__text-wrap--underline">
            <p class="review-list__text">
              Nullam viverra consectetuer. Lorem ipsum primis in nibh vel risus. Quisque cursus et,
              porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
            </p>
          </div>
        </div>
        <p class="review-list__subtext">Jane, Texas</p>
      </li>
    </ul>

    <ul class="pagination-list">
      <li class="pagination-list__item">
        <span class="pagination-list__link" data-pagination>
          <svg width="12" height="12">
            <use
              class="pagination-list__icon"
              href="./images/icons.svg#slider-home"
              data-icon-home
            ></use>
            <use
              class="pagination-list__icon"
              href="./images/icons.svg#slider-dot"
              data-icon-dot
            ></use>
          </svg>
        </span>
      </li>
      <li class="pagination-list__item">
        <span class="pagination-list__link" data-pagination>
          <svg width="12" height="12">
            <use
              class="pagination-list__icon"
              href="./images/icons.svg#slider-home"
              data-icon-home
            ></use>
            <use
              class="pagination-list__icon"
              href="./images/icons.svg#slider-dot"
              data-icon-dot
            ></use>
          </svg>
        </span>
      </li>
      <li class="pagination-list__item">
        <span class="pagination-list__link" data-pagination>
          <svg width="12" height="12">
            <use
              class="pagination-list__icon"
              href="./images/icons.svg#slider-home"
              data-icon-home
            ></use>
            <use
              class="pagination-list__icon"
              href="./images/icons.svg#slider-dot"
              data-icon-dot
            ></use>
          </svg>
        </span>
      </li>
    </ul>
  </div>
</section>
