<section class="section section--linear">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery">
      <div class="gallery__item">
        <picture
          ><source srcset="./images/gallery/image-1.fw.webp" />
          <source srcset="./images/gallery/image-1.fw.png" />
          <img class="gallery__image" src="./images/gallery/image-1.fw.png" alt="gallery image"
        /></picture>
      </div>
      <div class="gallery__item">
        <picture
          ><source srcset="./images/gallery/image-2-1.fw.webp" />
          <source srcset="./images/gallery/image-2-1.fw.png" />
          <img class="gallery__image" src="./images/gallery/image-2-1.fw.png" alt="gallery image"
        /></picture>
      </div>
      <div class="gallery__item">
        <picture
          ><source srcset="./images/gallery/image-2-2.fw.webp" />
          <source srcset="./images/gallery/image-2-2.fw.png" />
          <img class="gallery__image" src="./images/gallery/image-2-2.fw.png" alt="gallery image"
        /></picture>
      </div>
      <div class="gallery__item gallery__item--big">
        <picture
          ><source srcset="./images/gallery/image-3-1.fw.webp" />
          <source srcset="./images/gallery/image-3-1.fw.png" />
          <img class="gallery__image" src="./images/gallery/image-3-1.fw.png" alt="gallery image"
        /></picture>
      </div>
      <div class="gallery__item">
        <picture
          ><source srcset="./images/gallery/image-3-2.fw.webp" />
          <source srcset="./images/gallery/image-3-2.fw.png" />
          <img class="gallery__image" src="./images/gallery/image-3-2.fw.png" alt="gallery image"
        /></picture>
      </div>
      <div class="gallery__item">
        <picture
          ><source srcset="./images/gallery/image-5-1.fw.webp" />
          <source srcset="./images/gallery/image-5-1.fw.png" />
          <img class="gallery__image" src="./images/gallery/image-5-1.fw.png" alt="gallery image"
        /></picture>
      </div>
      <div class="gallery__item">
        <picture
          ><source srcset="./images/gallery/image-5-2.fw.webp" />
          <source srcset="./images/gallery/image-5-2.fw.png" />
          <img class="gallery__image" src="./images/gallery/image-5-2.fw.png" alt="gallery image"
        /></picture>
      </div>
      <div class="gallery__item">
        <picture
          ><source srcset="./images/gallery/image-6-1.fw.webp" />
          <source srcset="./images/gallery/image-6-1.fw.png" />
          <img class="gallery__image" src="./images/gallery/image-6-1.fw.png" alt="gallery image"
        /></picture>
      </div>
      <div class="gallery__item">
        <picture
          ><source srcset="./images/gallery/image-6-2.fw.webp" />
          <source srcset="./images/gallery/image-6-2.fw.png" />
          <img class="gallery__image" src="./images/gallery/image-6-2.fw.png" alt="gallery image"
        /></picture>
      </div>
      <div class="gallery__item">
        <picture
          ><source srcset="./images/gallery/image-7.fw.webp" />
          <source srcset="./images/gallery/image-7.fw.png" />
          <img class="gallery__image" src="./images/gallery/image-7.fw.png" alt="gallery image"
        /></picture>
      </div>
    </div>

    <!-- <picture>
      <source
        srcset="
          ./images/gallery-desktop.png    1x,
          ./images/galary-desktop@2x.png 2x,
          ./images/galary-desktop@3x.png 3x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/galary-tablet.png    1x,
          ./images/galary-tablet@2x.png 2x,
          ./images/galary-tablet@3x.png 3x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/galary-mobile.png    1x,
          ./images/galary-mobile@2x.png 2x,
          ./images/galary-mobile@3x.png 3x
        "
      />
      <img class="gallery__png" src="./images/galary-mobile.png" alt="Галлерея" /> -->

    <!-- </picture> -->
  </div>
</section>
