<section class="hero section--nonBottomPad">
    <div class="container hero__container">
        <div class="hero-content">
            <div>
                <h1 class="hero__title">ice cream <br> made with <br><span class="hero__title-accent">passion</span>
                </h1>
                <ul class="hero__btn-list">
                    <li class="hero__btn-item">
                        <a href="#products" class="hero__btn">Products</a>
                    </li>
                    <li class="hero__btn-item">
                        <a href="#about" class="hero__btn">How it’s made?</a>
                    </li>
                </ul>
                <div class="hero__goods"> 
                    <picture>
                        <source srcset="
                              ./images/milk-desktop.png 1x,
                              ./images/milk-desktop@2x.png 2x,
                              ./images/milk-desktop@3x.png 3x
                            " media="(min-width: 1280px)" />
                        <source srcset="
                              ./images/milk-tablet.png    1x,
                              ./images/milk-tablet@2x.png 2x,
                              ./images/milk-tablet@3x.png 3x
                            " media="(min-width: 768px)" />
                                             <img class="milk__png" src="./images/milk-tablet.png" alt="Галлерея" />
                    </picture>
                    <div class="hero__description">
                        <p class="hero__paragraf">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et
                        </p>
                        <a href="#" class="hero__link">
                            <img src="./images/arrow-right.jpg" width="26" height="26" alt="arrow" class="hero__link-arrow">
                        </a>
                    </div>
                </div>
            </div>
            <ul class="property__list">
                <li class="property__item">
                    <h2 class="property__title">16</h2>
                    <p class="property__text">cafes</p>
                </li>
                <li class="property__item">
                    <h2 class="property__title">23</h2>
                    <p class="property__text">food truks</p>
                </li>
            </ul>
        </div>
        <picture class="hero__ellipse" width="535" height="535">
            <source srcset="
                                      ./images/ellipse-pink.png 1x,
                                      ./images/ellipse-pink@2x.png 2x,
                                      ./images/ellipse-pink@3x.png 3x
                                    " media="(min-width: 1280px)" />
            <source srcset="
                                      ./images/milk-tablet.png    1x,
                                      ./images/milk-tablet@2x.png 2x,
                                      ./images/milk-tablet@3x.png 3x
                                    " media="(min-width: 768px)" />
            <img class="milk__png" src="./images/milk-tablet.png" alt="Галлерея" />
        </picture>
    </div>
</section>